<div class="flex-center">
  <div class="width-90 table-container">
    <mat-form-field floatLabel="always" class="filter-input">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" />
    </mat-form-field>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 width-100 applications-table"
      matSort
      multiTemplateDataRows
    >
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a mat-button (click)="element.isExpanded = !element.isExpanded">
            <mat-icon
              matTooltip="See Details"
              color="primary"
              [@detailBtnExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
              >chevron_right</mat-icon
            >
          </a>
        </td>
      </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Applied Column -->
      <ng-container matColumnDef="applied">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Applied</th>
        <td mat-cell *matCellDef="let element">{{ element.applied }}</td>
      </ng-container>

      <!-- Experience Column -->
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Experience</th>
        <td mat-cell *matCellDef="let element">{{ element.experience }}</td>
      </ng-container>

      <!-- Favorites Column -->
      <ng-container matColumnDef="favorites">
        <th mat-header-cell *matHeaderCellDef>Favorites</th>
        <td
          mat-cell
          *matCellDef="let element"
          (click)="toggleFavorite(element.id)"
        >
          <a
            ><mat-icon
              [ngClass]="{ matAccentColor: favorites.includes(element.id) }"
              >{{
                favorites.includes(element.id) ? "star" : "star_border"
              }}</mat-icon
            ></a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
          [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
          [ngClass]="{ hidden: !element.isExpanded }"
        >
          <section class="flex-around flex-wrap detail-container">
            <div class="flex-column-center" *ngIf="isMobile">
              <h3 class="m-1 mb-0">Applied</h3>
              <div class="flex-center m-1 mt-p5">
                <section>
                  <span class="fs-small">{{ element.applied }}</span>
                </section>
              </div>
            </div>
            <div class="flex-column-center" *ngIf="isMobile">
              <h3 class="m-1 mb-0">Experience</h3>
              <div class="flex-center m-1 mt-p5">
                <section>
                  <span class="fs-small">{{ element.experience }}</span>
                </section>
              </div>
            </div>
            <app-availability-table
              [availability]="element.availability"
            ></app-availability-table>
            <app-questions-cards
              [questions]="element.questions"
            ></app-questions-cards>
          </section>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (dblclick)="row.isExpanded = !row.isExpanded"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'"
        [ngClass]="{ hidden: !row.isExpanded }"
      ></tr>
    </table>
    <mat-paginator
      [length]="applications.length"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
