@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primaryTextColor: #424242;
  --matPrimaryColor: #673ab7;
  --matPrimaryColorDark: #4527a0;
  --matAccentColor: #7346ee;
  --lightGrey: #f4f4f4;
  --green: #09af00;
  --red: #d50000;
  --orange: #ff8d00;
  color: var(--primaryTextColor);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  margin: 2rem;
  background: linear-gradient(
    to right,
    var(--matPrimaryColorDark),
    var(--matAccentColor)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h3 {
  font-weight: 500;
}

.m-1 {
  margin: 1rem;
}

.mt-p5 {
  margin-top: 0.5rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.fs-small {
  font-size: 0.875rem;
}

.f-italic {
  font-style: italic;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

.hidden {
  display: none;
}

.matAccentColor {
  color: var(--matAccentColor);
}
